
.payments{
	margin-bottom: 10px;
	width:300px;
}

.paybox{
  width:;
}

.payfield{
  width:140px !important;
}

.pay-group{
	width:140px;
}

.paycheck{
	margin-left:-20px;
}

.paymentyear{
	margin-bottom: 10px;
}